NODE_ENV=production
PORT=8080
DATABASE_URL="postgresql://username:password@db.url/db?schema=public"
TEST_DATABASE_URL="postgresql://username:password@db.url/db?schema=public"
APP_CLIENT="https://appclient.com"
PRIVATE_KEY="YOUR RSA PRIVATE KEY"
PUBLIC_KEY="YOUR RSA PUBLIC KEY"